.add-btn {
    border-radius: 40px;
    border: 1px solid rgb(3, 155, 230);
    background: white;
    outline: none;
}

.add-btn:hover {
    background: rgb(154, 210, 238);
}

.add-input {
    border-radius: 40px;
    border: 1px solid rgb(3, 155, 230);
    outline: none;
    padding: 2px 10px;
    margin: 10px;
}
