.user-item {
    height: 50px;
    width: 400px;
    background: rgb(81, 236, 211);
    margin: 10px;
    padding: 0 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.user-item_name {
    flex-grow: 1;
    justify-self: flex-start;
}

.user-item_btn {
    width: 50px;
    justify-self: flex-end;
    border-radius: 30px;
    padding: 5px; 
    text-align: center;
    border: 0;
    outline: none;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.user-item_delete {
    background: rgb(219, 49, 49);
    margin-left: 10px;
}

.user-item_edit {
    margin-left: 10px;
    background: rgb(124, 118, 118);
}